<% html = render "form.html", changeset: @changeset,
                        action: kitten_path(@conn, :update, @kitten) %>

var form = document.getElementById('kitten_form');
form.innerHTML = "<%= escape_javascript(html) %>";
